<% if session[:message] %>
  <p class="message">
    <%= session.delete(:message) %>
  </p>
<% end %>

<form action="/<%= @filename %>" method="post">
  <label for="edit">Edit content of '<%= @filename %>':</label>
  <br>
  <textarea name="content" placeholder="edit" rows="20" cols="80"><%= @file %></textarea>
  <br> 
  <input type="submit" value="Save Changes">
  <input type="hidden" name="action" value='savechanges'>
  <input type='submit' value='Save as new file' formaction="/<%= @filename %>?save_as=new_file">
  <input type='hidden' name='action' value='saveasnewfile'>
</form>
<br>
<% if File.extname(@filename) == '.md' %>
<form action="/photo/upload?redirect=<%= @filename %>" enctype='multipart/form-data' method='post'>
  <label for="img">Select image:</label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form>

<% end %>
