    <% if session[:error] %>
      <p class="message">
        <%= session.delete(:error) %>
      </p>
    <% elsif session[:success] %>
      <p class="message">
        <%= session.delete(:success)%>
      </p>
    <% end %>

    <ul>
      <% @files.each do |file|%>
        <li>
          <a href="/<%= file %>"><%= file %></a>
          <a href="/<%= file %>/edit">edit</a>
        </li>
      <% end %>
    </ul>
    <br>
    <a href="/new">New Document</a>