    <% if session[:error] %>
      <p>
        <%= session.delete(:error) %>
      </p>
    <% elsif session[:success] %>
      <p>
        <%= session.delete(:success)%>
      </p>
    <% end %>

    <ul>
      <% @files.each do |file|%>
        <li>
          <a href="/<%= file %>">
            <%= file %>
          </a>
          <a href="/<%= file %>/edit">
            edit 
          </a>
        </li>
      <% end %>
    </ul>
